@tailwind base;
@layer base {
    :root {
        --color-primary: theme('colors.primary');
        --color-secondary: theme('colors.secondary');
        --color-primaryDark: theme('colors.primaryDark');
        --color-secondaryDark: theme('colors.secondaryDark');
    }

    html {
        scroll-behavior: smooth;
    }

    html::-webkit-scrollbar {
        @apply hidden;
    }

    h1 {
        @apply font-bold text-3xl;
    }

    h2 {
        @apply font-bold text-xl;
    }

    h3 {
        @apply font-bold text-base;
    }

    @import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);
}
@tailwind components;
@tailwind utilities;

@layer utilities {
    .tilt {
        @apply transform origin-left hover:-rotate-6 transition duration-300;
    }

    .glow {
        text-shadow: 0 0 15px;
        @apply text-yellow-500;
    }
}

/* Keep outside @layers to avoid purge */
html,
body,
#__next {
    @apply h-full flex flex-col;
}
