@tailwind base;
@layer base {
    :root {
        --color-primary: theme('colors.primary');
        --color-secondary: theme('colors.secondary');
        --color-accentPrimary: theme('colors.accentPrimary');
        --color-accentSecondary: theme('colors.accentSecondary');
        --color-primaryDark: theme('colors.primaryDark');
        --color-secondaryDark: theme('colors.secondaryDark');
        --color-accentPrimaryDark: theme('colors.accentPrimaryDark');
        --color-accentSecondaryDark: theme('colors.accentSecondaryDark');
    }
    html {
        scroll-behavior: smooth;
    }

    html::-webkit-scrollbar {
        @apply hidden;
    }

    h1 {
        @apply font-bold text-3xl;
    }

    h2 {
        @apply font-bold text-xl;
    }

    h3 {
        @apply font-bold text-base;
    }

    @import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);
}
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* .chunky-underline-lg {
        box-shadow: 0px -12px 0px var(--color-accentPrimary) inset;
    }

    .chunky-underline-sm {
        box-shadow: 0px -7px 0px var(--color-accentPrimary) inset;
    }

    @variants dark {
        .chunky-underline-lg {
            box-shadow: 0px -12px 0px var(--color-accentPrimaryDark) inset;
        }

        .chunky-underline-sm {
            box-shadow: 0px -7px 0px var(--color-accentPrimaryDark) inset;
        }
    } */

    .tilt {
        @apply transform origin-left hover:-rotate-6 transition duration-300;
    }
}

html,
body,
#__next {
    @apply h-full flex flex-col;
}
